{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <title>ConnectedIn</title>
    </head>
    <body>
        <div class="container">
            <!-- MENU -->
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="{% url 'index' %}">{{ perfil_logado.nome|upper }}</a></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
                <a href="{% url 'index' %}"><h3 class="text-muted">ConnectedIn</h3></a>
            </div>

            <!-- PAINEL QUE CARREGA DO INDEX -->
            <div class="row content">
                {% block body %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>